@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.site-header {
  width: 100%;
  padding: 1rem;
  flex: 0 1 auto;
}

body {
  min-height: 100svh;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background: var(--color-bg-main);
  color: var(--color-text-primary);
}

main {
  width: min(1500px, 100%);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.wrapper {
  /*background-image: url("../img/backgrounds/detective_conan_bg.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: darken;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

:root {
  --color-bg-main: #0A0A0A;
  --color-bg-surface: #141414;

  --color-text-primary: #FAFAFA;
  --color-text-secondary: #B5B5B5;

  --color-border: #2A2A2A;

  --color-wrong: #B10008;
  --color-close: #F1C40F;
  --color-correct: #0C7935;

  --color-accent: #0C7935;
}

.logo {
  width: min-content;
}

.logo img {
  max-width: 75px;
}

.game-icon {
  width: 100px;
  aspect-ratio: 1;
}

.home__title {
  flex: 0 1 auto;
}

.franchise-grid {
  flex: 1 1 auto;
  /*outline: 1px solid red;*/
  padding: 1.5em;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: min-content;
}


.franchise-card {
  padding: 1em;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  transition: transform 0.15s ease;
}

.franchise-card:hover {
  transform: translateY(-4px);
  background: var(--color-bg-surface);
}

.franchise-card__image {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 12px;
  position: relative;
}

.franchise-card__image-container {
  width: 100px;
  height: 100px;
  position: relative;
}

.franchise-card__image-container::after {
  content: "NEW";
  background: var(--color-wrong);
  position: absolute;
  top: -10%;
  right: -20%;
  border-radius: 2.5px;
  padding: 0.15rem;
  font-size: 0.85em;
}

.franchise-card__name {
  text-align: center;
}

.disabled {
  opacity: 0.3;
}

.disabled::after {
  content: "DISABLED";
}

.site-footer {
  flex: 0 1 auto;
  width: 100%;
  text-align: center;
}

.not-available-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  font-size: 1.5em;
}

.not-found-image {
  width: 500px;
  aspect-ratio: 1;
}


.game-info {
  background: var(--color-bg-main);
  flex: 0 1 auto;
  outline: 1px solid var(--color-text-primary);
  padding: 1em 2em;
  border-radius: 10px;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

.game-info h3 {
  color: var(--color-text-secondary);
}

#giveup-btn {
  background: var(--color-wrong);
  padding: 0.5em;
  color: inherit;
  border: 0;
  border-radius: 5px;
}

#giveup-btn:disabled {
  opacity: 0.3;
}

.game-input {
  background: var(--color-bg-main);
  flex: 0 1 auto;
  position: relative;
  width: min(95%, 600px);
}

.game-grid {
  flex: 1 1 auto;
  display: grid;
  /*outline: 1px solid red;*/
  width: 100%;
}

.game-input-sub {
  height: min-content;
  outline: 1px solid var(--color-text-primary);
  padding: 1.25em 2em;
  width: 100%;
  border-radius: 10px;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.game-text-input-container {
  position: relative;
  flex: 1 1 auto;
  font-size: 1.5rem;
}

#game-text-input {
  width: 100%;
  color: inherit;
  background: var(--color-bg-surface);
  border: 0;
  outline: 1px solid var(--color-text-secondary);
  padding: 0.5em;
  border-radius: 10px;
}

#game-text-input:focus {
  outline: 1px solid var(--color-text-primary)
}

.x {
  display: none;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}


#btn-game-guess {
  color: inherit;
  background: var(--color-bg-surface);
  outline: 1px solid white;
  height: 100%;
  padding: 1em;
  border-radius: 10px;
  flex: 0 1 auto;
}
.game-table-wrapper {
  overflow-x: auto;
  width: 100%;
  flex: 1 1 auto;
}

.game-table {
  width: 100%;
  min-width: 1500px;
  border-spacing: 0.75em;
}

.game-table th {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  opacity: 0.8;
  background: var(--color-bg-surface);
  padding: 0.75rem;
}

.game-table th,
.game-table td {
  text-align: center;
  border-radius: 10px;
}

.table-cell {
  height: 100px;
  width: min-content;
  font-weight: 800;
}

.table-cell img{
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
}


.suggestions {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}

.suggestion {
  background: var(--color-text-primary);
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.5rem;
  color: var(--color-bg-main);
  height: 100px;
  padding: 0.5rem;
  font-size: 1.25rem;
  outline: 1px solid var(--color-bg-main);
  cursor: pointer;
  /*transition: all 0.25s ease;*/
}

.suggestion:hover {
  color: var(--color-text-primary);
  background: var(--color-border);
}

.suggestion > img,
.guesses-grid > img {
  aspect-ratio: 1;
  height: 100%;
  border-radius: 5px;
}

.correct {
  background: var(--color-correct);
}

.wrong {
  background-color: var(--color-wrong);
}

.game-recap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  width: min(95%, 400px);
  height: min(max-content, 75%);
  background: var(--color-bg-main);
  padding: 1em;
  outline: 1px solid var(--color-text-primary);
  border-radius: 10px;
  overflow-y: auto;
}

.game-recap button {
  color: inherit;
  background: var(--color-border);
  outline: 1px solid var(--color-text-primary);
  padding: 0.5em;
  border-radius: 10px;
}

.game-recap img {
  border-radius: 10px;
}

#solution-name span {
  text-transform: uppercase;
  color: var(--color-accent);
}

#player-stats h3 {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fd-column {
  flex-direction: column;
}

.g1 {
  gap: 1rem;
}

#game-recap-container {
  z-index: 999;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}